/*
background purple: #540B51
background ivory: #F3EAE2
button blue: #4285F4
titles black: #191817
paragraph black: #000000
paragraph yellow: #ECB12F
links blue: #2E71A6
footer links grey: #454245
*/

* {
    box-sizing:border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #540B51;
    font-family: sans-serif;
    font-weight:normal;
}


nav {
    display:flex;
    justify-content:space-between;
    align-items:center;
    flex-wrap:nowrap;
}

#nav-items {
    display:none;
}

#slack-logo, #top-icons {
    height:40px;
    margin:20px;
    padding-top:10px;
}

#top-icons button {
    background-color:#540B51;
    vertical-align: middle;
}


header {
    color:white;
    text-align:center;
    font-size:1.5em;
    margin:0 0 40px 0;
}

h1 {
    color:#F3EAE2;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:2em;
    text-align:center;
    padding:20px;
    font-weight:normal;
}

header span:only-child{
    color:orange;
    font-size:1em;
    text-align:center;
}

.container-buttons {
    display:flex;
    flex-direction:column;
    justify-content:space-around;
    align-content:space-between;
    font-size: 0.6em;
}

.container-buttons button {
    width:97.5%;
    border:none;
    border-radius:10px;
    text-align:center;
    text-transform:uppercase;
    height: 8vh;
    font-weight:bold;
    font-size: 1em;
    margin: 5px 10px 5px 10px; /* top right bottom left*/
}

#email-button {
    background-color: white;
    color: #540B51;
}

#google-button {
    background-color: #4285F4;
    color:white;
    display:flex;
    justify-content:space-between; /*aligns items to the start of the button */
    align-items:center; /* aligns items vertically in the center */
}


#google-image {
    height: 5vh;
    background-color: white;
    margin-right:-25px;
    margin-left:10px;
}

#slack-screenshot {
    margin-top:50px;
    position:relative;
    left:50%;
    transform:translateX(-50%);
    width: 100vw;
}

#section-companies {
    background-color:#F3EAE2;
    padding-bottom:20px;
}

#section-companies:first-child {
    padding-top: 30px;
    text-align:center;
    text-transform:uppercase;
    font-weight:bold;
    font-size:1.5em;
}

#container-companies {
    display:flex;
    flex-wrap:wrap;
    margin:20px;
    justify-content:center;
}

#container-companies img {
    height:50px;
    padding:20px;
}

#section-teams {
    background-color:white;
    padding:40px;
    text-align:center;
}

h3 {
    color:#540B51;
    font-size:2em;
}

#section-teams p {
    color: black;
    font-size:1.5em;
}

ul {
    list-style-type:none;

}

.percentage-text {
    font-size:12px;
}

.percentage-text li p:not(span) {
    font-weight:bold;
}

.percentage-text li p span {
    color:#540B51;
    font-weight:bold;
    font-size:2.5em;
}

#section-HQ h3 {
    margin-top:50px;
    color:white;
    text-align:center;
}

#final-buttons button:last-child {
    background-color:#540B51;
    color:white;
    border: 1px solid white;
    margin-bottom:50px;
}

#footer {
    background-color:white;
    padding:40px;
}

#footer ul *{
    font-weight:bold;
    margin: 10px 0;
}

#footer ul li:last-child {
    color:#2E71A6;
}

hr {
    margin:40px 20px 40px 20px;
    border-color:#F3EAE2;
}

.icons {
    display:flex;
    justify-content:flex-start;
    align-items:center;
}

.icons img {
    padding-right:10px;
}

#social-media {
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding-right:50px;
}

small {
    margin:50px;
    font-size:18px;
    width:50%;
    margin-left:auto;
    margin-right:auto;
}

@media(min-width:768px) and (max-width:1024px){
    header {
        display:flex;
        background-image: url(../images/background-signup.png);
        background-size: cover;
        background-position:center;
        background-image:no-repeat;
        padding:10px;
    }

    .header div:first-child {
        flex:2;
    }

    .header div:last-child {
        flex:1;
    }

    #slack-screenshot {
        width: 400px;
    }

    #google-image {
        margin-right:50px;
    }

    #google-button span {
        padding-left:40px;
    }

    #container-companies {
        flex-wrap:nowrap;
    }

    #container-companies img {
        height:40px;
        padding:10px;
    }

    .percentage-text {
        display:flex;
    }

    .percentage-text p {
        text-align:left;
        font-size:0.5em;
    }

    footer ul {
        display:flex;
        flex-wrap:nowrap;
        align-items:center;
    }

    footer ul li {
        padding: 0 7px 0 7px;
    }

    .icons img {
        padding-right:3px;
    }
}

@media(min-width:1024px) and (max-width:1440px){

    header {
        display:flex;
        justify-content: center;
        background-image: url(../images/background-signup.png);
        background-size: cover;
        padding-left:10px;
    }


    nav {
        justify-content:center;
    }

    .slack-nav-items {
        display:flex;
        justify-content:center;
        align-items:center;
        margin-right: 80px;
    }

    #nav-items {
        display:flex;
        flex-wrap:nowrap;
        gap: 100px;
    }

    #slack-screenshot {
        margin-left:50px;
        width:40vw;
    }

    a {
        color:white;
        text-decoration:none;
    }

    #google-image {
        margin-right:50px;
    }

    #google-button span {
        padding-left:40px;
    }

    #container-companies {
        flex-wrap:nowrap;
    }

    #container-companies img {
        height:40px;
        padding:10px;
    }

    .percentage-text {
        display:flex;
    }

    .percentage-text p {
        text-align:left;
        font-size:0.5em;
    }

    .above-social-media{
        display:flex;
        flex-wrap:nowrap;
        align-items:center;
        gap:60px;
    }

    footer ul li {
        padding: 0 7px 0 7px;
    }

    .icons img {
        padding-right:3px;
    }

}

